name: Main workflow

on: [ push, pull_request ]

jobs:
  main:
    runs-on: ubuntu-22.04

    steps:

      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Pethon
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          black ./
      - name: Check codestyle
          run: |
            flacke8 ./
